*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #1df5ea;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.head{
    position:absolute;
    min-height: 20%;
    width: 35%;
    background-color: #fff;
    border-radius: 10px;
}
.inp{
    
    width:100%;
    height: 100px; 
    /* margin: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
   border-radius: 10px;
  background-color: #fff;
}
#search:hover{
    color: #47a5db;
    background-color: #0a0a0a;
}
#hide-recipe:hover{
    color: #47a5db;
    background-color: #0a0a0a;
    cursor: pointer;
}
#show-recipe:hover{
    color: #47a5db;
    background-color: #0a0a0a;
}
#result h3{
    text-align: center;
    margin-bottom: 10px;
}
#show-recipe{
    position: relative;
    left: 75%;
    font-size: 1rem;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #47a5db;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#type{
    border:none;
    outline: none;
    height: 25px;
    width: 70%;
    border-bottom:2px solid #0a0a0a;
}
#search{
padding: 8px;
margin-left: 5px;
border: none;
/* font-size: larger; */
border-radius: 5px;
background-color: #9bcadd;
cursor: pointer;
}
img{
    display: block;
    width: 40%;
    margin: 2px auto;
}
#details{
   background-color:yellow;
   text-align: center;
   margin:0 10%;
}

#hide-recipe{
    position: relative;
    left: 93%;
    margin: 10px;
    padding: 4px;
    background-color: #82dff0;
    border: none;
}
#recipe{
    background-color: #fff;
    position:absolute;
    top: 0;
    left: 0 ;
    width: 100%;
    min-height:100%;
    z-index: 2;
    display: none;
}
#recipe pre{
    white-space: pre-wrap;
     word-wrap:break-word;
     padding: 2rem 2rem;
}
#ingredients-con{
    width: 100%;
}
ul{
    position: relative;
    margin-top: 10px;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 5px;
    width: 100%;
    list-style-type: none;
}
ul li{
    padding-left: 3rem;
    margin-bottom: 10px;
}
@media only screen and (max-width:400px){
    .inp{
        height: 70px;
    }
    .head{
        width: 100%;
        border-radius: 0;
    }
    ul li{
        font-size: xx-small;
    }
    #show-recipe{
          font-size: 0.4rem;
          padding: 0.4rem;
          margin-bottom: 10px;
          text-align: center;
          border-radius:5px ;
      }
      #hide-recipe{
        left: 85%;
    }
}
@media only screen and (min-width:400px){
    .inp{
        height: 70px;
    }
    .head{
        width: 100%;
        border-radius: 0;
    }
    ul li{
        font-size: small;
    }
    #show-recipe{
          font-size: 0.7rem;
    }
    #hide-recipe{
        left: 88%;
    }
    
    
}
@media only screen and (min-width:500px) {
    .head{
        width: 90%;
        margin-top: 20px;
    }
}
@media only screen and (min-width:768px) {
    .head{
        width: 80%;
        margin-top: 20px;
    }
}
@media only screen and (min-width:992px) {
    .head{
        width: 60%;
        margin-top: 20px;
    }
}
@media only screen and (min-width:1200px) {
    .head{
        width: 45%;
        margin-top: 20px;
    }
}